:root {
    --paletteColor1: #000;
    --paletteColor2: #fff;
    --paletteColor3: #e9ebee;
    --paletteColor4: #808080;
    --paletteColor5: #90949c;
    --paletteColor6: #4267b2;
    --paletteColor7: #365899;
    --paletteColor8: #282828;
    --paletteColor9: #616770;
    --paletteColor10: #e1e2e3;
    --paletteColor11: #f6f7f9;
    --paletteColor12: #ddd;
    --paletteColor13: #f25a41;
    --paletteColor14: #578843;
}
